*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #125E8A;
    
    display:grid;

    grid-template-columns: 1fr;
    grid-template-rows: 100px auto;
    gap:20px;
}

.title-container{
    display:flex;
    justify-content: center;
    align-items: end;
}
.title{
    font-weight: bold;
    font-size: 4rem;
}

.game-container{
    border:1px solid black;
    height:500px;
    margin:50px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding:50px;
    gap:10px;
   
}

.left-grid{
    border: 1px solid red;
    height:400px;
    width:400px;
    
    display:grid;
    grid-template-columns: repeat(10, 40px);
    grid-template-rows: repeat(10, 40px);
}

.right-grid{
    border: 1px solid blue;
    height:400px;
    width:400px;

    display:grid;
    grid-template-columns: repeat(10, 40px);
    grid-template-rows: repeat(10, 40px);

}
.left-grid div, .right-grid div{
    border:1px solid black;
    display:flex;
    justify-content: center;
    align-items: center;
    
}
.left-grid div:hover, .right-grid div:hover{
    background-color: #0c4464;
}